h1{
   color:green;
}
p{
  margin-left:20px;
}
*{
  border:1px solid blue;
}
a{

}
.intro{
	font: 40px Garamond ;
	font-weight: bolder;
}
.menu{
	display:flex;
	justify-content: space-between;
	flex-wrap: wrap;
}